<article>

  <h1>Produtos</h1>
  <section>

    <div class="column-left">
      <div class="product">
        <div></div>
        <img class="product-image border" src="../../../assets/img/berilo_vermelho.jpg" alt="Berilo vermelho">
        <div class="product-name">Berilo vermelho</div>
        <div class="product-price">R$500.000,00</div>
      </div>
      <div class="product">
        <img class="product-image border" src="../../../assets/img/jardim_branca.jpg" alt="Jardim branca">
        <div class="product-name">Pedra de jardim branca 1 kg</div>
        <div class="product-price"><s>R$9,90</s> R$6,90</div>
      </div>
      <div class="product">
        <img class="product-image border" src="../../../assets/img/pedra_grande.jpg" alt="Pedra grande">
        <div class="product-name">Pedra grande</div>
        <div class="product-price">R$1.000,00</div>
      </div>
      <div class="product">
        <img class="product-image border" src="../../../assets/img/pedras_coloridas.jpg" alt="Pedras coloridas">
        <div class="product-name">Pedras coloridas decoração 100g</div>
        <div class="product-price">R$20,00</div>
      </div>
    </div>
    <div class="column-right">
      <div class="product">
        <img class="product-image border" src="../../../assets/img/diamante.jpg" alt="Diamante">
        <div class="product-name">Diamante</div>
        <div class="product-price">R$50.000,00</div>
      </div>
      <div class="product">
        <img class="product-image border" src="../../../assets/img/decoracao_rosa.jpg" alt="Decoração rosa">
        <div class="product-name">Pedra de decoração rosa 1 kg</div>
        <div class="product-price">R$19,90</div>
      </div>
      <div class="product">
        <img class="product-image border" src="../../../assets/img/homem_pedra.jpg" alt="Homem de pedra">
        <div class="product-name">Boneco do homem de pedra</div>
        <div class="product-price">R$382,90</div>
      </div>
      <div class="product">
        <img class="product-image border" src="../../../assets/img/silex.jpg" alt="Silex">
        <div class="product-name">Silex</div>
        <div class="product-price">R$5,00</div>
      </div>
    </div>
  </section>
</article>
