<article>
  <h1>Meus pedidos</h1>
  <section>
    <div class="product">
      <div></div>
      <img class="product-image border" src="../../../assets/img/berilo_vermelho.jpg" alt="Berilo vermelho">
      <div class="product-info">
        <div class="product-name">1x Berilo vermelho</div>
        <div class="product-price">R$500.000,00</div>
      </div>
    </div>
    <div class="product">
      <img class="product-image border" src="../../../assets/img/jardim_branca.jpg" alt="Jardim branca">
      <div class="product-info">
        <div class="product-name">5x Pedra de jardim branca 1 kg </div>
        <div class="product-price">R$34,50</div>
      </div>
    </div>
    <div class="product">
      <img class="product-image border" src="../../../assets/img/pedra_grande.jpg" alt="Pedra grande">
      <div class="product-info">
        <div class="product-name">999x Pedra grande</div>
        <div class="product-price">R$999.000,00</div>
      </div>
    </div>
    <div class="total">
      <div class="total-price">TOTAL: R$1.499.534,50</div>
    </div>
  </section>
</article>
