article {
  display: inline-block;
  width: 68%;
  vertical-align: top;
  background-color: #00796b;
  box-shadow: 0 0 10px 0px black;
  color: white;
  margin-bottom: 20px;
}

aside {
  display: inline-block;
  margin-left: 2%;
  width: 29.5%;
  vertical-align: top;
  background-color: #00796b;
  box-shadow: 0 0 10px 0px black;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 1px;
  font-weight: 100;
}

article p {
  text-align: justify;
  text-justify: inter-word;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: lighter;
  line-height: 150%;
  font-size: 95%;
}

aside p {
  text-align: justify;
  text-justify: inter-word;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: lighter;
  line-height: 120%;
  font-size: 85%;
}

.date {
  text-align: right;
  text-justify: inter-word;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: lighter;
  line-height: 100%;
  font-size: 70%;
}

.right {
  float: right;
  margin-left: 20px;
}

section {
  padding: 20px;
  margin: 0px 20px 20px 20px;
  box-shadow: inset 0px 0px 10px 0px black;
}

.border {
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px black;
}
