<article>
  <h1>História da empresa</h1>
  <section>
    <div class="text-block">
      <img class="right border" src="../../../assets/img/pedro.jpg" alt="Pedro" height="200px">
      <p>No dia 1 de abril de 2.000.000 antes de Cristo, na cidade de Nova Iorque/SP, um pequeno empreendedor
        chamado Pedro percebeu uma nova demanda surgindo na sociedade. Com o recém início da idade da pedra, Pedro
        começou a coletar, catalogar e vender pedras para toda sua cidade.</p>
    </div>
    <div class="text-block">
      <br>
      <p>Com o tempo Pedro começou a contratar novos funcionários para suportar o crescimento rápido da empresa. E
        hoje a Stone's é uma das maiores empresas de pedras do mundo, fazendo negócios em 55 países. A empresa já
        atendeu a um total de 4 clientes no mundo todo.</p>
      <img class="border" src="../../../assets/img/mundial.jpg" alt="Mundial" width="100%">
    </div>
  </section>
</article>

<aside>
  <h3>NOVIDADES</h3>
  <section>
    <h4>Imperdível</h4>
    <p>Pedras de jardim branca em 30% de desconto.</p>
    <div class="date">10/05/22</div>
  </section>
  <section>
    <h4>Novo produto</h4>
    <p>Berilo vermelho agora disponível para compra.</p>
    <div class="date">19/03/22</div>
  </section>
  <section>
    <h4>Aviso</h4>
    <p>Não trabalhamos mais com mármore.</p>
    <div class="date">25/12/21</div>
  </section>
</aside>
